.section-form > form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  width: 40vw;
}

.section-form > form > fieldset {
  display: flex;
  flex-direction: column;
  align-items: left;
  border: none;
  color: rgb(130, 224, 72);
  gap: 0.5rem;
}

.section-form > form > fieldset > ul{
  list-style: none;
  color: white;
}

.radio-btn-input{
  min-width: 1rem;
}

.section-form > form > fieldset > ul > li > label{
  font-size: xx-small;
}

.search-name-label{
  display: flex;
  flex-direction: column;
  align-items: left;
  color: rgb(130, 224, 72);
}

.search-name-input{
  padding: 0.25rem 1rem;
  font-size: small;
  border-radius: 30px;
  border: 1px solid transparent;
  min-width: 5rem;
  background-color: #dadadab4;
  color: black;
  box-shadow: inset 0 0 10px black;
}