.filter-page{
  display: flex;
  width: 100vw;
  padding: 4rem;
}

.filtered-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  width: 40vw;
}

.filtered-character-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 800px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  height: 120px;
  width: fit-content;
}

.filtered-character-card{
  width: 2rem;
}

.img-character-filtered{
  width: 50%;
  border-radius: 100%;
}

.basicInfoFiltered{
  border-radius: 14px;
  background-color: #f2fdff11;
  padding: 0.5rem;
  height: 100px;
  width: 100px;
  backface-visibility: hidden;
}

.basicInfoFiltered:hover{
  color: rgb(100, 173, 54);
  transition: 0.4s all ease;
  background-color: #f2fdff2a;
}

.basicInfoFiltered > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.basicInfoFiltered > div > h2 {
  font-size: 10px;
  font-weight: 300;
}

.moreInfoFiltered{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 120px;
  width: 100px;
  align-items: center;
  gap: 0.5rem;
  font-weight: 300;
  background-color: rgb(100, 173, 54);
  font-size: 15px;
  justify-content: center;
  color: white;
  border-radius: 14px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.hidden{
  display: none;
  transform: rotateY(180deg);
}
