form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    position: relative;
    font-weight: 300;
}

input{
    padding: 0.5rem;
    border-radius: 30px;
    border: 1px solid transparent;
    min-width: 20rem;
    padding-left: 3rem;
    background-color: #dadadab4;
    color: black;
    box-shadow: inset 0 0 10px black;
}

input::placeholder{
    color: rgb(36, 36, 36);
}

input:focus{
    border: 1px solid rgba(130, 224, 72, 0.596);
    outline: none;
    background-color: rgba(202, 230, 184, 0.596);
    box-shadow: 0 0 5px rgb(150, 212, 112);
}

.input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.error-label{
    padding-top: 1rem;
    font-size: 0.7em;
    color: greenyellow;
}

@media (min-width: 768px){
    input{
        min-width: 30rem;
    }
}
