.page-btn-container{
  display: flex;
  padding: 1rem;
  gap: 0.2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.486);
  border-bottom: 1px solid rgba(255, 255, 255, 0.486);
  border-left: 30px solid rgba(29, 29, 31, 0.562);
  border-right: 30px solid rgba(29, 29, 31, 0.562);
  margin-bottom: 1.5rem;
}

.select-page-btn{
  background-color: transparent;
  color: white;
  width: 3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.486);
  border-radius: 5px;
  transition: 100ms linear;
}

.select-page-btn:hover{
  background-color: rgb(130, 224, 72);
  color: rgb(29, 29, 31);
}

.current-page{
  background-color: rgb(130, 224, 72);
  color: rgb(29, 29, 31);
}

.arrow-btn{
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: white;
  transition: 100ms linear;
  cursor: pointer;
}

.arrow-btn:hover{
  color: rgb(130, 224, 72);
}

@media (max-width: 700px){
  .select-page-btn{
    font-size: x-small;
    width: 3rem;
    padding: 0.25rem 1rem;
  }
}