.characterList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 2rem 0;
}

ul.cardList{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.find-character{
    background-color: transparent;
    border: none;
    font-size: x-small;
    color: rgba(255, 255, 255, 0.678);
    margin-bottom: 2rem;
    transition: 200ms linear;
    cursor: pointer;
}

.find-character:hover{
    color: rgb(100, 173, 54);
}

@media (min-width: 768px){
    h1{
        font-size: 50px;
    }

    .find-character{
        font-size: small;
    }
}

@media (min-width: 1150px){
    .characterList{
        width: 60vw;
    }
}