.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 800px;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    height: 120px;
    width: 250px;
}

.on-effect .character-card{
    transform: rotateY(180deg);
}

.character-card{
    height: 120px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
}

.basicInfo{
    border-radius: 14px;
    background-color: #f2fdff11;
    padding: 1rem;
    height: 120px;
    width: 250px;
    backface-visibility: hidden;
}

.basicInfo:hover{
    color: rgb(100, 173, 54);
    transition: 0.4s all ease;
    background-color: #f2fdff2a;
}

.basicInfo > div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.basicInfo > div > h2 {
    font-size: 15px;
    font-weight: 300;
}

.moreInfo{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 120px;
    width: 250px;
    align-items: center;
    gap: 0.5rem;
    font-weight: 300;
    background-color: rgb(100, 173, 54);
    font-size: 15px;
    justify-content: center;
    color: white;
    border-radius: 14px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.hidden{
    display: none;
    transform: rotateY(180deg);
}

.img-character{
    width: 40%;
    border-radius: 50%;
}

@media (min-width: 1024px){
    .card-container{
        height: 164px;
        width: 296px;
    }

    .character-card{
        height: 164px;
        width: 296px;
    }

    .basicInfo{
        height: 164px;
        width: 296px;
    }

    .moreInfo{
        height: 164px;
        width: 296px;
    }

    .img-character{
        width: 50%;
    }
    
}