@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(29, 29, 31);
  color: white;
}

body{
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: rgb(18, 18, 19);      
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(130, 224, 72, 0.664);
  border-radius: 5px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  padding: 1rem 3rem;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: transparent;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(130, 224, 72);
  filter: drop-shadow(2px 2px 2px rgba(237, 248, 118, 0.829));
  transition: 150ms linear;
}

h1:hover{
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(237, 248, 118);
  filter: drop-shadow(2px 2px 2px rgb(128, 241, 57))
}

.h1-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

p{
  text-align: justify;
  word-wrap: break-word;
}

.initial-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 80vw;
}

.img-presentation{
  max-width: 100%;
}

.presentation-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
  font-size: 12px;
}

.p-presentation{
  font-weight: 200;
}

.btn-container{
  display: flex;
  justify-content: center;
  padding: 0 0 1.5rem 0;
}

.btn-next-page{
  background-color: rgb(130, 224, 72);
  border: none;
  padding: 0.7rem 0.65rem;
  border-radius: 30px;
  font-size: 12px;
  color: rgb(29, 29, 31);
  box-shadow: inset 0 0 0 0 rgb(237, 248, 118);
  transition: ease-out 0.5s;
  cursor: pointer;
}

.btn-next-page:hover{
  color: rgb(29, 29, 31);
  box-shadow: inset 0 0 100px 0 rgb(237, 248, 118);
}

@media (min-width: 768px){
  h1{
    font-size: 50px;
  }

  .presentation-text{
    font-size: 18px;
  }

  .btn-next-page{
    font-size: 15px;
  }
}

@media (min-width: 1024px){
  .initial-section{
    flex-direction: row;
  }

  .img-presentation{
    width: 80%;
  }

  h1{
    font-size: 50px;
  }
}

