.not-character-found-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 300;
  padding-top: 1rem;
}

.not-character-found-img{
  width: 10rem;
  border-radius: 100%;
  opacity: 90%;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.767);
}

.msg-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.377);
  padding: 1rem;
  border-radius: 14px;
  gap: 0.5rem;
}

.not-found-message{
  color: #ffffff;
  font-size: x-small;
  font-weight: 500;
}

.green-txt{
  color: rgb(130, 224, 72);
}

.clear-btn{
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid rgb(130, 224, 72);
  color: rgb(130, 224, 72);
  border-radius: 14px;
  font-size: x-small;
}

.clear-btn:hover{
  background-color: rgb(130, 224, 72);
  border: 1px solid transparent;
  color: black;
}

@media (min-width: 768px){

  .clear-btn{
    font-size: small;
  }

  .not-found-message{
    font-size: small;
  }

  .not-character-found-img{
    width: 20rem;
  }
}
